<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Covid Predictor application</title>
</head>

<form action="{{ url_for('results') }}" method="POST">
    <fieldset>
        <legend>Provide patient information:</legend>
        Cough: 
        <input name="cough" type="number" required> 
        <br>
        <br> Fever: <input name="fever" type="number" required>  <br>
        <br> Sore throat: <input name="sorethroat" type="number" required>  <br>
        <br> Shortness of breath: <input name="shortnessofbreath" type="number" required>  <br>
        <br> Headache: <input name="headache" type="number" required>  <br>
        <br> Sixities plus: <input name="sixtiesplus" type="number" required>  <br>
        <br> Gender: <input name="gender" type="number" required>  <br>
        <br> Contact with known carrier: <input name="contact" type="number" required>  <br>
        <br> Recent travel abroad: <input name="abroad" type="number" required><br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<br>
<div class="prediction_prob" align="center">
    {% if prediction_prob %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted probabilty of covid for given patient:
           <p style="font-size:50px">{{ prediction_prob }}</p>
    {% endif %}
</div>

</html>